body {
  margin: 0;
  background-color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  place-items: center; 
}

form {
  display: flex;
  align-items: center;
  
}

input[type="text"], input[type="password"], select, button {
  height: auto; /* Allows the select box to adapt to content */
  padding: 5px; /* Add padding to give it a better appearance */
  border-radius: 4px; /* Add px for radius */
  border: 1px solid #ccc; /* Adding a border for better visibility */
  font-size: 16px; /* Ensure the font size is legible */
  box-sizing: border-box; /* Ensures padding is included in height */
}

* {
  box-sizing: border-box; /* Applies to all elements */
}

button:hover {
  background-color: lightblue; /* Darker shade on hover */
}


.code-wrapper {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task {
  border: 1px solid #ccc; 
  margin: 10px 0;         
  padding: 10px;          
  background-color: #f9f9f9; 
  border-radius: 5px;     
  display: flex;          
  justify-content: space-between; 
  align-items: center;    
}


